<!--
  Generated template for the ItemListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>{{selectedCategory?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="onCartItemsClickHandler()" style="margin: 0 6px;">
        <ion-icon name="cart"></ion-icon>
        <span *ngIf="cartItems.length" class="cart-badge">{{cartItems.length}}</span>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngFor="let item of items; let i = index">
    <ion-card (click)="onItemClickHandler(item)">
      <img src="assets/images/{{item.image}}" />
      <ion-card-content>
        <ion-card-title>
          {{item.name}}
        </ion-card-title>
        <div>
          <p>
            {{item.prices[0].price | currency:'USD':true:'2.2-2'}}
          </p>
          <!-- <ion-buttons end style="position: relative; right: 10px;">
            <button ion-button icon-left color="royal" round outline>
          <ion-icon name="cart"></ion-icon> Add to cart
          </button>
          </ion-buttons> -->
        </div>
      </ion-card-content>
      <ion-buttons end style="position: relative; right: 10px; top: -10px" (click)="addToCard($event, item)">
        <button ion-button icon-left color="royal" round outline>
          <ion-icon name="cart"></ion-icon> Add to cart
          </button>
      </ion-buttons>
    </ion-card>

  </div>

</ion-content>