<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{selectedCategory?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="onCartItemsClickHandler()" style="margin: 0 6px;">
        <ion-icon name="cart"></ion-icon>
        <!-- <span *ngIf="cartItems.length" class="cart-badge">{{cartItems.length}}</span> -->
        <span *ngIf="cartService.getCartItems().length" class="cart-badge">{{cartService.getCartItems().length}}</span>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngFor="let item of items; let i = index">

    <ion-card (click)="onItemClickHandler(item)">
      <img src="assets/images/{{item.image}}" />

      <div class="title-container">
        <div class="card-title">{{item.name}}</div>
        <div class="card-subtitle">{{item.prices[0].price | currency:'USD':true:'2.2-2'}}</div>
      </div>

      <ion-buttons start class="btn-add-fav">
        <button ion-button icon-only (click)="addToFav($event, item)" style="border-radius: 20%;">
          <ion-icon name="{{item.favourite ? 'heart' : 'heart-outline'}}"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end class="btn-add-cart">
        <button ion-button icon-left (click)="addToCard($event, item)" color="danger" round>
          <ion-icon name="add"></ion-icon> <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>

    </ion-card>

  </div>

</ion-content>