page-home {
    ion-slide h2 {
        font-size: 1.4rem;
    }
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    // height: 200px;

    img {
      height: 100%;
    }

    .title-container {
      position: absolute;
      width: 100%;
      top: 36%;
      color: #fff;
      background: rgba(0,0,0, 0.6);
    }
  }

  .card-title {
    font-size: 2.0em;
    font-weight: bold;
    width: 100%;
  }

  .card-subtitle {
    font-size: 1.0em;
    width: 100%;
  }

}