<ion-header>

  <ion-navbar>
    <ion-title>{{category?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" style="margin: 0 6px;" (click)="onCartItemsClickHandler()">
        <ion-icon name="cart"></ion-icon>
        <!-- <span class="cart-badge"></span> -->
        <span *ngIf="cartService.getCartItems().length" class="cart-badge">{{cartService.getCartItems().length}}</span>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img src="assets/images/{{item?.image}}" />
    <ion-card-content>
      <ion-card-title>
        {{item?.name}}
      </ion-card-title>
      <p>
        {{item?.description}}
      </p>
    </ion-card-content>

    <ion-card>
      <ion-card-header class="card-header-bottom">
        Options
      </ion-card-header>
      <!-- <ion-list> -->


      <ion-item *ngFor="let option of item?.options; let i = index;">
        <ion-toggle checked="{{option.active == 1 ? true : false}}"></ion-toggle>
        <ion-label>
          {{option.label}}
        </ion-label>
      </ion-item>
      <!-- </ion-list> -->
    </ion-card>

    <!-- Extras -->
    <ion-card *ngIf="item?.extras">
      <ion-card-header class="card-header-bottom">
        Extras
      </ion-card-header>
      <ion-item *ngFor="let extra of item?.extras; let i = index;">
        <ion-toggle checked="{{extra.active == 1 ? true : false}}"></ion-toggle>
        <ion-label style="font-size:0.9em">
          {{extra.label}} : {{extra.price | currency:'USD':true:'2.2-2'}}
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- Prices -->
    <ion-card *ngIf="item?.prices">
      <ion-card-header class="card-header-bottom">
        Size & Prices
      </ion-card-header>

      <ion-list radio-group>
        <ion-item *ngFor="let price of item?.prices; let i = index;">
          <ion-label style="font-size:0.9em">
            {{price.label}} : {{price.price | currency:'USD':true:'2.2-2'}}
          </ion-label>
          <ion-radio checked="{{i ==0 ? true : false}}" value="{{i}}"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card>

  </ion-card>
  <!-- main card -->

  <div class="btn-actions-container">
    <button ion-button icon-left color="danger" (click)="onAddCartClickHandler()">
        <ion-icon name="cart"></ion-icon> Add to cart
    </button>

    <button ion-button icon-left color="danger">
        <ion-icon name="star"></ion-icon> Add to favorites
    </button>
  </div>

</ion-content>