page-item-details {
    .card-header-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, .14);
        font-size: 1.5em;
        padding: 10px;
        background: gray;
        color: #fff;
    }
    .cart-badge {
        position: absolute;
        top: -5px; // left: 8px;
        text-align: center;
        width: 30px;
        font-size: 0.7em;
        font-weight: bold;
    }
    .btn-actions-container {
        display: flex;
        justify-content: center;
        button {
            flex-grow: 1;
            font-size: 1em !important;
        }
    }
}