<ion-header>

  <ion-navbar>
    <ion-title>{{category?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" style="margin: 0 6px;" (click)="onCartItemsClickHandler()">
        <ion-icon name="cart"></ion-icon>
        <!-- <span class="cart-badge"></span> -->
        <span *ngIf="cartService.getCartItems().length" class="cart-badge">{{cartService.getCartItems().length}}</span>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img src="assets/images/{{item?.image}}" />
    <ion-card-content>
      <ion-card-title>
        {{item?.name}}
      </ion-card-title>
      <p>
        {{item?.description}}
      </p>
    </ion-card-content>

    <ion-card>
      <ion-card-header class="card-header-bottom">
        Options
      </ion-card-header>
      <!-- <ion-list> -->


      <ion-item *ngFor="let option of item?.options; let i = index;">
        <ion-toggle checked="{{option.active == 1 ? true : false}}"></ion-toggle>
        <ion-label>
          {{option.label}}
        </ion-label>
      </ion-item>
      <!-- </ion-list> -->
    </ion-card>
  </ion-card>

  <div class="btn-actions-container">
    <button ion-button icon-left color="danger" (click)="onAddCartClickHandler()">
        <ion-icon name="cart"></ion-icon> Add to cart
    </button>

    <button ion-button icon-left color="danger">
        <ion-icon name="star"></ion-icon> Add to favorites
    </button>
  </div>

</ion-content>